:root{
    
    /*variables to change the size of the grid and boxes.
    Grid size is based on how many boxes in a row or column times the size
    of the boxes*/

    --gHeight: 560px;
    --gWidth: 560px;
    --bHeight: 70px;
    --bWidth: 70px;

}
* {
  margin: 0;  
}
.grid-container{
    margin: 2vh auto;
}

.grid{

    display: flex;
    flex-wrap: wrap;
    background-color: black;
}

.grid div{
    width: var(--bWidth);
    height:var(--bHeight);
}
.selection{
    background-color: green;
    width: 1000px;
    height: 75vh;
    display: block;
    margin: 2vh auto;
    transition: opacity 1s;
}